name: Java CI with Maven & Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Bajar el c贸digo
      - uses: actions/checkout@v3

      # 2. Configuraci贸n Java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      # 3. Compilaci贸n y Tests
      - name: Build with Maven
        run: ./mvnw clean package

      # 4. Construicci贸n de la imagen en Docker
      - name: Build Dockerfile Image
        run: docker build . --file Dockerfile --tag backend-test:latest